/*Button Variables*/
:root
{
    --btn1-color: red;
    --btn2-color: blue;
    --btn3-color: green;
}

body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 80px; /* Center and add margin to stack vertically - using 80px from 20px*/
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/*=============Button 1===============*/
.btn-1
{
    margin-top: 15%;
    margin-left: 30%;
    border-radius: 100px;
    transition: all 1s ease;
    animation: rotateClockWise 2s infinite linear;
    background-color: transparent;
    
}

/*btn-1 Pseudo Class Focus -  Slide the element from left or right and vice versa*/
.btn-1:focus
{
    background-color: var(--btn2-color);
    animation: SlideButton 4s infinite;

}

/*btn-1 Pseudo Class Hover - Rotate the element anti-clockwise*/
.btn-1:hover
{
    animation: rotateAntiClockWise 5s infinite linear;

} 

/*=============Button 2===============*/
.btn-2

{
    background-color: var(--btn2-color);
    border-radius: 100px;
    width: 8vmin;
    animation: SlideButton 2s infinite;


}


/*btn-2 Pseudo Class Focus - Describe effect*/
.btn-2:focus
{
    background-color: var(--btn3-color);
    animation: rotateAntiClockWise 2s infinite linear;
}

/*btn-2 Pseudo Class - Describe effect*/
.btn-2:hover
{


} 

/*btn-2 Pseudo Element - Describe effect*/
.btn-2::after
{



}

/*btn-2 Pseudo Element - Describe effect*/
.btn-2::before
{




}


/*=============Button 3===============*/
.btn-3
{
    background-color: transparent;
    border-radius: 100px;
    margin-left: 60%;
    animation: rotateClockWise 2s infinite linear;

}

/*btn-1 Pseudo Class - Describe effect*/
.btn-3:focus
{
    background-color: var(--btn1-color);
}

/*btn-1 Pseudo Class - Describe effect*/
.btn-3:hover
{


} 

/*btn-1 Pseudo Element - Describe effect*/
.btn-3::after
{



}

/*btn-1 Pseudo Element - Describe effect*/
.btn-3::before
{




}


/*=============Keyframes================*/

/*Keyframe 1*/
/*Belongs to btn 1 : Rotation  - Clockwise*/
@keyframes rotateClockWise 
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

/*Keyframe 2*/
/*Belongs to btn 1 : Rotation - Anti Clockwise*/
@keyframes rotateAntiClockWise 
{
    from
    {
        transform: rotate(360deg);
    }
    to
    {
        transform: rotate(0deg);
    }
}

/*Keyframe 3*/
/*Belongs to btn 1 : cover the button*/
@keyframes cover 
{
    from
    {
        left: -75%; bottom: -75%;
    }
    to
    {
        left: -75%; bottom: -75%;
    }

}

/*Keyframe 4*/
/*Belongs to btn 2 : slide side ways*/
@keyframes SlideButton 
{
    0% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
}

/*Keyframe 4*/
/*Belongs to btn : */
@keyframes loader 
{
    100%
    {
        tranform: rotate(1turn);
    }
}

/*Keyframe 5*/
/*Belongs to btn : */
@keyframes identifier 
{
    
}


