/*Button Variables*/
:root
{
     /*Temp Colours*/
    --btn1-color: red;
    --btn2-color: blue;
    --btn3-color: green;
}

body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/*=============Button 1===============*/
.btn-1
{
    background-color: var(--btn1-color);
}

/*btn-1 Pseudo Class - Describe effect*/
.btn-1:focus
{
    background-color: var(--btn1-color);
}

/*btn-1 Pseudo Class - Describe effect*/
.btn-1:hover
{


} 

/*btn-1 Pseudo Element - Describe effect*/
.btn-1::after
{



}

/*btn-1 Pseudo Element - Describe effect*/
.btn-1::before
{




}




/*=============Button 2===============*/
.btn-2

{
    background-color: var(--btn2-color);


}

/*btn-2 Pseudo Class - Describe effect*/
.btn-2:focus
{
    background-color: var(--btn1-color);
}

/*btn-2 Pseudo Class - Describe effect*/
.btn-2:hover
{


} 

/*btn-2 Pseudo Element - Describe effect*/
.btn-2::after
{



}

/*btn-2 Pseudo Element - Describe effect*/
.btn-2::before
{




}


/*=============Button 3===============*/
.btn-3
{
    background-color: var(--btn3-color);

}

/*btn-1 Pseudo Class - Describe effect*/
.btn-3:focus
{
    background-color: var(--btn1-color);
}

/*btn-1 Pseudo Class - Describe effect*/
.btn-3:hover
{


} 

/*btn-1 Pseudo Element - Describe effect*/
.btn-3::after
{



}

/*btn-1 Pseudo Element - Describe effect*/
.btn-3::before
{




}


/*=============Keyframes================*/

/*Keyframe 1*/
/*Belongs to btn : */
@keyframes identifier 
{
    
}

/*Keyframe 2*/
/*Belongs to btn : */
@keyframes identifier 
{
    
}

/*Keyframe 3*/
/*Belongs to btn : */
@keyframes identifier 
{
    
}

/*Keyframe 4*/
/*Belongs to btn : */
@keyframes identifier 
{
    
}

/*Keyframe 4*/
/*Belongs to btn : */
@keyframes identifier 
{
    
}

/*Keyframe 5*/
/*Belongs to btn : */
@keyframes identifier 
{
    
}

