/*Button Variables*/
:root
{
    --btn1-color: rgb(185, 174, 21);
    --btn2-color: lightgrey;
    --btn3-color: rgb(27, 83, 25);
}

body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 80px; /* Center and add margin to stack vertically - using 80px from 20px*/
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/*=============Buttons===============*/
.btn-1
{
    margin-top: 10%;
    margin-left: 30%;
    animation: rotateClockWise 3s infinite linear;    
}

.btn-2

{
    width: 8vmin;
    animation: SlideButton 2s infinite;
}

.btn-3
{
    margin-left: 59%;
    animation: rotateClockWise 3s infinite linear;
}

.btn-1, .btn-2, .btn-3
{
    border-radius: 100px;
    border: 0px;
    box-shadow: 10px 8px var(--btn3-color);
    background-color: var(--btn2-color);

} 


/*Buttons: Pseudo Classes Focus -  Slide the element from left or right and vice versa*/
.btn-1:focus, .btn-3:focus
{
    background-color: var(--btn1-color);
    box-shadow: 10px 8px var(--btn2-color);
    animation: SlideButton 4s infinite;


}

/*Button: Pseudo Classes Hover - Rotate the element anti-clockwise*/
.btn-1:hover, .btn-2:focus, .btn-3:hover
{
    animation: rotateAntiClockWise 5s infinite linear;
    background-color: var(--btn1-color);
    box-shadow: 10px 8px var(--btn2-color);

} 


/*=============Keyframes================*/

/*Keyframe 1*/
/*Rotation  - Clockwise*/
@keyframes rotateClockWise 
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

/*Keyframe 2*/
/*Rotation - Anti Clockwise*/
@keyframes rotateAntiClockWise 
{
    from
    {
        transform: rotate(360deg);
    }
    to
    {
        transform: rotate(0deg);
    }
}


/*Keyframe 3*/
/*Slide Horizontally - left,right,left*/
@keyframes SlideButton 
{
    0% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
}
